h1 {
    color: white;
text-shadow:3px 2px black;

    text-align:center;
font-size: 5em;}
body {
    background-image:url(space.png);
    font-family:fantasy;}
        
     p {text-shadow: 3px 2px black;
        color:white;
        font-size: 2em;
    }
    
        .item{
        order:1 ;
        max-width: 30vw;
    
    }
   
    
   

#container {
    display: flex;
    justify-content: space-between;
}

.item {
    margin: 0;
    justify-content: left;
}
