body {color:white;
    background-image: url(galaxy.jpg);}


p   {
    font-family: fantasy;
    float: left;
    font-size: 40px;
    text-shadow: 3px 2px  black;
} 
    h1,h2{ 
        text-shadow: 3px 2px  black;
        text-align: center;} 


    #container {
        display: flex;
    }

    .item {
        order: 1;
        max-width: 30vw;
    }



    









}