h1 {
    color: white;
text-shadow:3px 2px black;

    text-align:center;
font-size: 5em;}
body {
    
    background-image:url(space.png);
    font-family:fantasy;}
    p {font-size: 1.5em;}
    .item{
        order:1 ;
        max-width: 30vw;
    }
    p {
        text-shadow: 3px 2px black;
        color:white;
    }
        

#container {
    display: flex;
    justify-content: center;
}

.item {
    margin: 0;
}

ul li{
    text-align: left;
    color: white;
    transition: 0.6s ease;
    font-size: 2em;
}

ul li:hover{
    color: black;
    transition: 0.6s ease;


}

a, a:visited, a:link {
    color: white;
}
