h1 {
    color:red;
text-shadow:3px 2px black;

    text-align:center;
font-size: 5em;}
body {
    
    background-image:url(pic/space.png);
    font-family:fantasy;}
    p {font-size: 2em;}
    .item{
        order:1 ;
        max-width: 30vw;
    }
    p {
        text-shadow: 3px 2px black;
        color:white;}

#container {
    display: flex;
    justify-content: center;
}

.item {
    margin: 0;
}
img {display:flex;
    padding: 20px;
    margin: 0 auto;
    border-radius: 130px;
    width:30vw;}